---
import Layout from '../layouts/Layout.astro';
const { slug } = Astro.params;
const res = await fetch(`https://innerlogic.co/wp/wp-json/wp/v2/posts/?slug=${slug},_fields=title,content`);
const posts = await res.json();
---

<Layout title={`${posts[0].title.rendered} | Off the rails`}>
  <h1>{posts[0].title.rendered}</h1>
  <main set:html={posts[0].content.rendered}>
  </main>
</Layout>

