---
import Layout from '../layouts/Layout.astro';
const { slug } = Astro.params;
const res = await fetch(`https://innerlogic.co/wp/wp-json/wp/v2/posts/?slug=${slug},_fields=title,content`);
const posts = await res.json();
const hasPost = posts.length > 0;
const postTitle = hasPost ? posts[0].title.rendered : 'Post not found';
const postContent = hasPost ? posts[0].content.rendered : "We're looking for the post you requested. Please check back later.";
---

<Layout title={postTitle}>
  <h1>{postTitle}</h1>
  <main set:html={postContent}></main>
</Layout>
<style is:global>
  main img {
    width: 100% !important;
    height: auto !important;
  }
</style>

