---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
const res = await fetch("https://innerlogic.co/wp/wp-json/wp/v2/posts?_fields=slug,excerpt,title");
const posts = await res.json();
---

<Layout title="Blog">
	<main>
    <p>
    Engineering helps us get where we're going, but where is that? Is it really as nice as they say? If history is any guide, maybe not.
    </p>

    <p>
    <!-- TODO move to CMS -->
    Hello, I am a bundle of incongrueties and "emotions" commonly known as a human being. As an engineer, I enjoy building theories about how systems are used to achieve a fixed goal, or could be made to do it better. I'm also an (armchair) philosopher who can't help but question that fixed goal. There's also an artist in me doodling in the margins while thinking that both the engineer and the philosopher need to touch grass. Ultimately, I am all and none of these. Worry not, these seemingly distinct identities are actually one, it's just our culture that insists on dividing them.
    </p>
    {
    posts.map((post: Post) => (
      <Card
        title={post.title.rendered}
        body={post.excerpt.rendered}
        href={`/${post.slug}`}
      />
    ))
    }
  </main>
</Layout>

