---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
const res = await fetch("https://innerlogic.co/wp-json/wp/v2/posts?_fields=slug,excerpt,title");
const posts = await res.json();
---

<Layout title="Blog">
	<main>
    {
    posts.map((post) => (
      <Card
        title={post.title.rendered}
        body={post.excerpt.rendered}
        href={`/${post.slug}`}
      />
    ))
    }
  </main>
</Layout>

