---
import Socials from '../components/Socials.astro';
import {SITE_NAME} from '../constants';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
    <header>
      <div class="inner">
        <a href="/">{SITE_NAME}</a>
      </div>
    </header>
    <div class="page">
      <slot />
    </div>
    <article class="page">
      <h1 class="small">Credits | icons from Flaticon</h1>
      <ul class="small">
        <li class="inline">
          <a href="https://www.flaticon.com/free-icons/discord" title="discord icons">Discord icons created by Aldo Cervantes</a>
        </li>
        <li class="inline">
          <a href="https://www.flaticon.com/free-icons/github" title="github icons">Github icons created by Picons</a>
        </li>
        <li class="inline">
          <a href="https://www.flaticon.com/free-icons/linkedin" title="linkedin icons">Linkedin</a> &amp; <a href="https://www.flaticon.com/free-icons/instagram" title="instagram icons">Instagram</a> icon by Freepik
        </li>
      </ul>
    </article>
    <footer>
      <div class="inner">
        <a href="/">&hellip;still InnerLogic.co</a>
        <Socials />
      </div>
    </footer>
	</body>
</html>
<style>
  header, footer {
    padding-top: 1em;
    padding-bottom: 1em;

    .inner {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    a {
      flex-shrink: 0;
    }
  }
  .page, header .inner, footer .inner {
    margin-left: auto;
    margin-right: auto;
    width: var(--page-width);
  }
  .page {
    margin-top: 2em;
    margin-bottom: 2em;
  }

  .small {
    font-size: 0.75em;
    line-height: 1em;
  }
  h1.small {
    text-transform: uppercase;
  }

  .inline {
    display: inline;
  }
</style>
<style is:global>
  /* http://meyerweb.com/eric/tools/css/reset/ 
     v2.0 | 20110126
       License: none (public domain)
   */
  html, body, div, span, applet, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code,
  del, dfn, em, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var,
  b, u, i, center,
  dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, embed, 
  figure, figcaption, footer, header, hgroup, 
  menu, nav, output, ruby, section, summary,
  time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }
  /* HTML5 display-role reset for older browsers */
  article, aside, details, figcaption, figure, 
  footer, header, hgroup, menu, nav, section {
    display: block;
  }
  body {
    line-height: 1;
  }
  ol, ul {
    list-style: none;
  }
  blockquote, q {
    quotes: none;
  }
  blockquote:before, blockquote:after,
  q:before, q:after {
    content: '';
    content: none;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  /* End reset */

  /* Fluid unit */
	:root {
    --fluid-text-min: 12;
    --fluid-text-max: 48;
    --fluid-text-min-width: 640;
    --fluid-text-max-width: 2050;

    --fluid-text-slope: calc((var(--fluid-text-max) - var(--fluid-text-min)) / (var(--fluid-text-max-width) - var(--fluid-text-min-width)));

    --fluid-text-intercept: calc(var(--fluid-text-max) - (var(--fluid-text-slope) * var(--fluid-text-max-width)));

    --fluid-unit: clamp(calc(var(--fluid-text-min) * 1px), calc(var(--fluid-text-slope) * 100vw + var(--fluid-text-intercept) * 1px), calc(var(--fluid-text-max) * 1px));
  }
  /* End fluid unit */

  /* Modular scale */
  :root {
    --modular-scale: 1.2;
    --scale-0: 100%;
    --scale-1: calc(var(--scale-0) * var(--modular-scale));
    --scale-2: calc(var(--scale-1) * var(--modular-scale));
    --scale-3: calc(var(--scale-2) * var(--modular-scale));
    --scale-4: calc(var(--scale-3) * var(--modular-scale));
    --scale-5: calc(var(--scale-4) * var(--modular-scale));
    --scale-6: calc(var(--scale-5) * var(--modular-scale));
  }
  /* End modular scale */

  /* Colors */
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent-light)) 30%,
			white 60%
		);
    background-color: white;
  }

  header, footer {
    background-color: rgb(var(--accent));
    color: white;

    a {
      color: white;
    }
  }
  /* End colors */


  /* Typography */
  :root {
    font-size: 18px;
    font-size: var(--fluid-unit);
	}
  h1 {
    font-size: var(--scale-6);
  }
  h2 {
    font-size: var(--scale-5);
  }
  h3 {
    font-size: var(--scale-4);
  }
  h4 {
    font-size: var(--scale-3);
  }
  h5 {
    font-size: var(--scale-2);
  }
  h6 {
    font-size: var(--scale-1);
  }
  ol {
    list-style: decimal;
  }
  sup {
    font-size: 0.8em;
    position: relative;
    top: -0.5em;
  }

  header, footer {
    a {
      text-decoration: none;
    }
  }
  /* End typography */


  /* Spacing */
  :root {
    --page-width: calc(min(1600px, 100vw - 4em));
  }
  h1, h2, h3, h4, h5, h6 {
    margin-top: 0.5em;
  }
  h1, h2, h3, h4, h5, h6, p, pre {
    margin-bottom: 0.5em;
  }
  p {
    line-height: 1.5em;
  }

  pre {
    overflow: auto;
  }

  header, footer {
    padding: 1em;
  }
  /* End spacing */

  /* TODO font */
</style>
